<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form action="/owners/listings/{{space.id}}?_method=PUT" method="POST">
        <h2 class="text-center">Edit a Listing</h2>
        <label>Address 1</label>
        <input type="text" name="address1" class="form-control" value="{{space.address1}}" required data-validation-required-message="Please enter your address." autofocus>
        <label>Address 2</label>
        <input type="text" name="address2" class="form-control" value="{{space.address2}}">
        <label>City</label>
        <input type="text" name="city" class="form-control" value="{{space.city}}" required data-validation-required-message="Please enter your city.">
        <label>State</label><br>
        <input type="text" name="state" class="form-control" value="{{space.state}}" required data-validation-required-message="Please enter your state.">
        <label>Zip Code</label>
        <input type="text" name="zip" class="form-control" value="{{space.zip}}" required data-validation-required-message="Please enter your zip code.">
        <div class="form-group col-xs-4 col-xs-offset-4">
          <button class="btn btn-lg btn-success btn-block btn-submit" type="submit">Save</button>
        </div>
      </form>
      <form name ="delete-listing" method="POST" action="/owners/listings/{{space.id}}?_method=DELETE">
          <div class="form-group col-xs-4 col-xs-offset-4">
              <button type="submit" class="btn btn-lg btn-danger btn-block">Delete</button>
          </div>
      </form>
    </div>
  </div>
</div>
