<div>
    <h1>Edit a Listing</h1>
</div>
<div class="container">
  <div class="row">
    <form action="/owners/listings/{{space.id}}?_method=PUT" method="POST">
      <label>Address 1</label>
      <input type="text" name="address1" class="form-control" value="{{space.address1}}" required data-validation-required-message="Please enter your address." autofocus>
      <label>Address 2</label>
      <input type="text" name="address2" class="form-control" value="{{space.address2}}" required data-validation-required-message="Please enter your apatrment number.">
      <label>City</label>
      <input type="text" name="city" class="form-control" value="{{space.city}}" required data-validation-required-message="Please enter your city."><br>
      State: 
      <select>
        <option value="ny">NY</option>
        <option value="ma">MA</option>
      </select><br><br>
      <label>Zip Code</label>
      <input type="text" name="zip" class="form-control" value="{{space.zip}}" required data-validation-required-message="Please enter your zip code.">
      <div class="row">
          <div class="form-group col-xs-4 col-xs-offset-4 text-right">
              <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
          </div>
      </div>
    </form>
    <form name ="delete-listing" method="POST" action="/owners/listings/{{space.id}}?_method=DELETE">
        <div class="form-group col-xs-4 col-xs-offset-4 text-left">
            <button type="submit" class="btn btn-lg btn-primary btn-block">Delete</button>
        </div>
    </form>
  </div>
</div>