<!--
Refactored into index page - this is being kept as a placeholder
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Listing ID: {{space.id}}</h3>
      <h3>Location: {{space.address1}} {{space.address2}} {{space.city}}, {{space.state}} {{space.zip}}</h3>
      <h3>Updated on: {{space.updatedAt}}</h3>
      <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
          <a href="/owners/listings/{{space.id}}/edit">
              <button class="btn btn-lg btn-primary btn-block btn-submit" type="submit">Edit</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
-->
