<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center">Available Spaces</h1>
    </div>
  </div>
</div>

{{#each spaces}}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-lg-8">
      <h4>Listing ID: {{this.id}}</h4>
      <a href="/drivers/available-spaces/{{this.id}}/confirm-reservation">
        <h4>{{this.address1}} {{this.address2}} {{this.city}}, {{this.state}} {{this.zip}}</h4>
        <h5>Price per half hour: ${{this.pricePerHalfHour}}</h5>
        <h5>Special Instructions: {{this.instructions}}</h5>
      </a>
    </div>
    <div class="col-xs-6 col-lg-4 text-right">
      <img src="https://maps.googleapis.com/maps/api/streetview?&size=200x200&location={{this.address1}},%20{{this.city}},%20{{this.state}},%20{{this.zip}}&key={{> api-key-streetview}}" />
    </div>
  </div>
  <hr>
</div>
{{/each}}
