<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center">My Listings</h1>
      {{#each space}}
        <h4>Listing ID: {{this.id}}</h4>
        <a href="/owners/listings/{{this.id}}/edit">
          <h3>{{this.address1}} {{this.address2}} {{this.city}}, {{this.state}} {{this.zip}}</h3>
        </a>
        <h6>Updated on: {{this.updatedAt}}</h6>
        <hr>
      {{/each}}
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form action="owners/listings/new" method="get">
        <div class="form-group col-xs-4 col-xs-offset-4">
          <button class="btn btn-lg btn-primary btn-block btn-submit" type="submit">Add Listing</button>
        </div>
      </form>
    </div>
  </div>
</div>
