<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center">My Listings</h1>
      {{#each space}}
        <div class="listings-preview">
          <p><h4>Listing ID: {{this.id}}</h4></p>
          <p>
              <h3 style="display:inline-block">Location:</h3>
              <a href="/owners/listings/{{this.id}}">
                  <h3 style="display:inline-block;">{{this.address1}}, {{this.address2}}, {{this.city}}, {{this.state}} {{this.zip}}</h3>
              </a>
          </p>
          <hr>
        </div>
      {{/each}}
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form action="owners/listings/new" method="get">
        <button class="btn btn-lg btn-primary btn-block btn-submit" type="submit">Add Listing</button>
      </form>
    </div>
  </div>
</div>
